body {
    background-color: antiquewhite;
    text-align: center;    
}

.theGame {
    padding-top: 200px;
    margin: auto;
    width: 50%;
    font-size: 50px;
    font-family: Georgia, serif;
    text-align: center;    
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 140px;
    height: 50px;
    font-size: 20px;
}

.basket {   
    width: 1180px;
    height: 85px;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: left;
    display: inline-block;
}

.square {
    width: 70px;
    height: 70px;    
    margin: 5px;
    display: inline-block;
}

.yellow {    
    background-color: rgb(228, 213, 6);
    border: 2px solid black;
}

.blue {    
    background-color: rgb(83, 46, 219);
    border: 2px solid rgb(228, 213, 6);
}

.green {    
    background-color: chartreuse;
    border: 2px solid rgb(83, 46, 219);
}

.red {    
    background-color: rgb(255, 72, 0);
    border: 2px solid chartreuse;
}

.antiquewhite {
    background-color: antiquewhite;
    border: 0px solid antiquewhite;
}

.hidden {
    display: none;
}