* {
    margin: 0;
    padding: 0;
}

.example-01 {
    margin-bottom: 200px;
}

/*-------------------------------------------------------------------------------------------------------------------*/

/*Свойство "z-index" указывает, насколько ближе или дальше находится элемент на странице в случае пересечения этого
элемента с другими элементами. Это свойство принимает только целые значения и не работает со static элементами. Чем
больше значение этого свойства, тем ближе элемент к нам.*/
.div-01 {
    width: 300px;
    height: 300px;
    border: 1px red solid;
}

.div-02 {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 1;
}

.div-03 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    z-index: 2;
}