* {
    margin: 0;
    padding: 0;
}

.example-01,
.example-02,
.example-03,
.example-04,
.example-05 {
    margin-bottom: 200px;
}

/*-------------------------------------------------------------------------------------------------------------*/

/*Свойство "display" указывает, можнт ли элемент разделять горизонтальное пространство с другими элементами,
то есть могу ли они его обтекать. У таких элементов как "strong", "span", "a", "em" и так далее изначально
свойство "display" имеет значение "inline". Это значение указывает, что элемент имеет такой блок, который плотно
обворачивает контент элемента и не требует новой строки после элемента. Для inline элементов нельзя указать
свойства "width" и "height".*/
.div-01 {
    width: 300px;
    height: 300px;
    border: 1px red solid;
}

.span-01 {
    width: 150px;
    height: 150px;
    border: 1px blue solid;
}

/*-------------------------------------------------------------------------------------------------------------*/

/*Можно сделать inline элементами можно сделать встроенные block-элементы, такие как "p", "div", "h1", "footer"
и так далее. Значение "inline" свойства "display" отключает способность элементов автоматически создавать перенос
и показывать содержимое элементов с новой строки.*/

.div-02 {
    width: 300px;
    height: 300px;
    border: 1px red solid;
}

.div-03,
.div-04 {
    width: 100px;
    height: 100px;
    border: 1px blue solid;
    display: inline;
}

/*-------------------------------------------------------------------------------------------------------------*/

/*Блочные элементы или block элементы не отображаются в той же строке, что и содержимое вокруг них. По умолчанию
block элементы занимают все ширину страницы, но для них можно задать свойство "width". Если другого не указано,
то block элементы занимаю высоту необходимую для их контента, но можно задать свойство "height".

Значение "inline-block" свойства "display" позволяет сделать block элемент, который может обтекаться другими
элементами, при этом размеры этого элемента задаются также как и обычному block элементу.*/

.div-05 {
    width: 300px;
    height: 300px;
    border: 1px red solid;
}

.div-06,
.div-07 {
    width: 100px;
    height: 100px;
    border: 1px blue solid;
    display: inline-block;
}

/*-------------------------------------------------------------------------------------------------------------*/

/*Свойство "float" указывает, что текущий элемент должен быть изъят из обычного потока элементов и прижат к 
левой или правой стороне родительского элемента. Текст и inline элементы будут обтекать такой элемент.
Если использовать значение "left", то элемент будет прижать к левой стороне и его будут обтекать элементы
с правой стороны. Свойство "float" лучше использовать как можно реже, например, только когда надо, чтобы какой-то
текст обтекал какой-то блочный элемент.*/

.div-08 {
    width: 300px;
    height: 300px;
    border: 1px red solid;
}

.div-09,
.div-11 {
    width: 100px;
    height: 100px;
    border: 1px blue solid;
}

.div-10 {
    width: 80px;
    height: 80px;
    border: 1px green solid;
    float: left;
}

/*-------------------------------------------------------------------------------------------------------------*/

/*Свойство "clear" указывает, может ли элемент быть рядом с элементами со свойством "float", которые предшествуют 
ему или должны быть перемещены вниз (очищены) под ними. Свойство "clear" применяется как к плавающим, так и 
к неплавающим элементам. Значение "left" указывает, что элемент не будет касаться левой стороной какого-либо
другого элемента в том же контейнере. Значение "right" указывает, что элемент не будет касаться правой стороной 
какого-либо другого элемента в том же контейнере. Значение "both" указывает, что элемент не будет касаться ни 
левой, ни правой сторонами какого-либо другого элемента в том же контейнере. Значение "none" указывает, что 
элемент может касаться и левой, и правой сторонами какого-либо другого элемента в том же контейнере.*/

.div-12,
.div-14
{
    width: 300px;
    height: 300px;
    border: 1px red solid;
}

.div-13 {
    width: 100px;
    height: 100px;
    border: 1px rgb(0, 255, 64) solid;
    float: left;
}

.span-02 {
    float: left;
    clear: left;
}

.div-15 {
    width: 100px;
    height: 100px;
    border: 1px rgb(255, 187, 0) solid;
    float: right;
    clear: right;
}

.span-03 {
    float: right;    
}