.whole-page {
    background-color: rgb(218, 218, 252);
}

li {
    padding: 10px;
}

h2 {
    color: white;
    padding: 10px;
}

.section-hot h2 {
    background-color: coral;
}

.section-cold h2 {
    background-color: aquamarine;
}

.section-hot li:hover,
.section-cold li:hover {
    background-color: teal;
}

.section-hot li:hover a,
.section-cold li:hover a {
    color: white;
}

.section-hot .footer {
    color: rgb(90, 161, 138)
}

.section-cold .footer {
    color: coral
}